<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin DashBoard</title>
</head>
<body>
    <h1>Welcome to Admin Dashboard</h1>

    {% if session.get('user')%}
        <p>Welcome, {{session['user'] }}</p>
        <a href="{{ url_for('logout')}}">logout</a>
    {% else %}
        <a href="{{ url_for('login')}}">login</a>
    {% endif %}

    <h2>Manage Users</h2>
    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.mobile }}</td>
                <td>{{ user.address }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>